<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!---<title> Responsive Our Team Section | CodingLab </title>---->
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/navigate.css" />
    <link rel="stylesheet" href="/css/testnavigate.css" />
    <title>Thành Viên</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <!-- Fontawesome CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav style="position: fixed;">
      <div class="brand">
        <a href="/" id="logo-img"
        ><img src="/img/logo.svg" alt="logo" class="logo" style="margin-top: 10%;"
      /></a>
      </div>
      <ul>
          <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a></li>
          <!-- <li><a href="/about"><i class="fa fa-users" aria-hidden="true"></i> Thành Viên</a></li> -->
          <li><a href="/manage"><i class="fa fa-info" aria-hidden="true"></i> Thông Số</a></li>
          <li><a href="/device"><i class="fa fa-thermometer" aria-hidden="true"></i> Thiết Bị</a></li>
          <li><a href="/logout"><i class="fa fa-window-close" aria-hidden="true"></i> Đăng Xuất</a></li>
      </ul>
  </nav>
    <div class="container">
      <div class="main-card">
        <div class="cards">
          <div class="card">
            <div class="content">
              <div class="img">
                <img src="img/long.jpg" alt="" />
              </div>
              <div class="details">
                <div class="name">Thành Long</div>
                <div class="job">Member</div>
              </div>
              <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <img src="img/quan.jpg" alt="" />
              </div>
              <div class="details">
                <div class="name">Viết Quân</div>
                <div class="job">Member</div>
              </div>
              <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <img src="img/ly.jpg" alt="" />
              </div>
              <div class="details">
                <div class="name">Hương Ly</div>
                <div class="job">Member</div>
              </div>
              <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
