<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/testnavigate.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <title>Thiết Bị</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="./css/navigate.css" />
  </head>
  <body>
    <!-- <header>
      <a href="/" id="logo-img"
        ><img src="/img/logo.svg" alt="logo" class="logo"
      /></a>
      <a class="manage-site" href="/about"
        ><button class="nav-button">Thành Viên</button></a
      >
      <a class="manage-site" href="/manage"
        ><button class="nav-button">Quản Lý</button></a
      >
      <a class="about-us" href="/logout"
        ><button class="nav-button">Đăng Xuất</button></a
      >
    </header> -->
    <nav style="position: flex;">
      <div class="brand">
        <a href="/" id="logo-img"
          ><img
            src="/img/logo.svg"
            alt="logo"
            class="logo"
            style="margin-top: 0;"
        /></a>
      </div>
      <ul>
        <li>
          <a href="/"
            ><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a
          >
        </li>
        <li>
          <a href="/about"
            ><i class="fa fa-users" aria-hidden="true"></i> Thành Viên</a
          >
        </li>
        <li>
          <a href="/manage"
            ><i class="fa fa-info" aria-hidden="true"></i> Thông Số</a
          >
        </li>
        <li>
          <a href="/device"
            ><i class="fa fa-thermometer" aria-hidden="true"></i> Thiết Bị</a
          >
        </li>
        <li>
          <a href="/logout"
            ><i class="fa fa-window-close" aria-hidden="true"></i> Đăng Xuất</a
          >
        </li>
      </ul>
    </nav>
    <div class="date-pick"></div>

    <div class="container mb-5 mt-3">
      <div style="margin-bottom: 10px;">
        <select id="select-station" onchange="stationChange();">
          <option value="1">Trạm Bắc Hải Vân</option>
          <option value="2">Trạm Nam Hải Vân</option>
        </select>
      </div>
      <table
        class="table table-striped table-bordered devicetable"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th class="top-heading">CB Nhiệt Độ</th>
            <th class="top-heading">CB Lượng Mưa</th>
            <th class="top-heading">CB Đo Gió</th>
            <th class="top-heading">CB Tầm Nhìn</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div>
        <label for="minDate">Từ ngày:</label>
        <input type="date" id="min-date" name="min-date" />
        <label for="minDate">Đến ngày:</label>
        <input type="date" id="max-date" name="max-date" />
        <input type="button" onclick="dateFunction()" value="Tìm Kiếm" />
      </div>
      <table
        class="table table-striped table-bordered mydatatable"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th class="top-heading">Ngày</th>
            <th class="top-heading">Giờ</th>
            <th class="top-heading">Thông Tin</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/device.js"></script>
  </body>
</html>
